# IDE
.idea/
.vs/
.vscode/

# OS-generated
.DS_Store

# Build, intermediate files, libraries, etc.
build/
dist/main.js
dist/css
node_modules/

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
