# IDE
.idea/
.vs/
.vscode/

# OS-generated
.DS_Store

# Build, intermediate files, libraries, etc.
build/
#dist/*
!dist/index.html
!dist/favicon.png
node_modules/

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
