$main-font: 'Press Start 2P', cursive;

body {
    font-family: $main-font;
}

h1 {
    font-size: 4vmin;
    text-align: center;
    margin-top: 8vmin;
}

p {
    text-align: center;
    font-size: 3vmin;
}

#grid {
    margin: 0 auto;

    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(10, 1fr);

    width: 40vmin;
    aspect-ratio: 1 / 2;

    user-select: none;
    border: 1px solid gray;
    border-radius: 2px;

    > div {
        border: 1px solid #88888840;
        border-radius: 2px;
        &:hover {
            border: 2px solid white;
        }
    }

}

#grid > div {

}