@font-face {
    font-family: "Sabo";
    src: url('fonts/Sabo-Filled.otf') format("opentype");
}
@font-face {
    font-family: "Space Mission";
    src: url('fonts/SpaceMission.otf') format("opentype");
}

$main-font: "Space Mission", monospace;
$main-background: #e5dff6;
$title-font-size: 8vmin;

$display-font-size: 4vmin;

$tile-border-size: .5vmin;
$tile-border-light: rgba(255, 255, 255, 0.25);
$tile-border-dark: rgba(101, 101, 101, 0.28);

$shadow-color: rgba(0, 0, 0, .1);
$shadow-color-light: rgba(0, 0, 0, .05);
$box-shadow: -1vmin 1vmin 1vmin 1vmin $shadow-color;

body {
    font-family: $main-font;
    background: $main-background;
}

h1 {
    font-size: $title-font-size;
    text-align: center;
    margin-top: 4vmin;
    text-shadow: -2vmin 2vmin $shadow-color-light;
}

p {
    text-align: center;
    font-size: 3vmin;
}

#tetris {
    width: 60vmin;
    height: 100vh;
    display: grid;
    margin: auto;
    grid-template-areas:
        "board next-up"
        "board score"
        "board none";
    grid-template-rows: 4fr 2fr 2fr;
    grid-template-columns: 5fr 1fr;
    column-gap: 3vmin;
    row-gap: 4vmin;

    > p {
        grid-area: score;
    }
}

#grid {
    background: repeating-linear-gradient(
        45deg,
        #fefefe,
        #fefefe 2px,
        #eee 2px,
        #eee 4px
    );
    grid-area: board;
    margin: 0 auto;

    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(10, 1fr);

    width: 100%;
    aspect-ratio: 1 / 2;

    user-select: none;
    border: 2px solid lightgray;
    border-radius: 2px;

    box-shadow: $box-shadow;

    > div {
        border-top: $tile-border-size solid $tile-border-light;
        border-left: $tile-border-size solid $tile-border-light;
        border-right: $tile-border-size solid $tile-border-dark;
        border-bottom: $tile-border-size solid $tile-border-dark;
        // border-left: 1px solid #88888840;
        border-radius: 2px;
        opacity: 1;
        &:hover {
            border: 2px solid white;
        }
    }
}

#next-up {
    grid-area: next-up;
    width: 10vmin;
    height: 12vmin;
    padding: 1vmin;

    p {
        font-size: $display-font-size;
    }


    #next-up-grid {
        width: 100%;
        aspect-ratio: 1/1;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

#game-info {
    p {
        font-size: 2vmin;
    }
}

// ===== Animations ===========================================================

@keyframes small-grow {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(.9);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.small-grow {
    animation: small-grow .25s ease;
}

@keyframes row-clear {
    0% {
        transform: scaleY(1);
        opacity: 1;
    }
    50% {
        transform: scaleY(1.5);
        opacity: .5;
    }
    100% {
        transform: scaleY(0);
        opacity: 0;
    }
}

.row-clear {
    animation: row-clear .4s ease;
}